body {

  background-image: url("https://images.squarespace-cdn.com/content/v1/5efc3845201cfd62a7cad809/1633798790161-MK6JDUCHACHRREDI143M/Screen+Shot+2021-10-09+at+11.58.05+AM.png");
  
}

h1 {
  
  color: rgb(255, 0, 0);
  text-align: left;
  
}
h2 {
  color: rgb(0, 0, 2);
  text-align: left;
  font-size: 22px;
  
}

input {
    width: 600px;
    font-size: 18px;
    padding: 20px;
  }

  button {
    width: 270px;
    font-size: 13px;
    padding: 10px;
    background-color: rgb(243, 125, 125);
  }